.foot {
    padding: .5rem;
    display: flex;
    justify-content: center;
    background-color: #2C5530;
    color: #FEF9EF;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.header-box{
    width: 100%;
    background-color:#2C5530;
    color: whitesmoke;
    padding: .5rem;
}

/*nav with the logo*/

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    text-decoration: none;
}

#avo {
    margin-right: auto;
    padding-left: 3rem;
}
.my-svg path {
    fill: #FEF9EF;
}

.menu-items{
    padding: 2rem;
    color: whitesmoke;
    margin-right: 1rem;
}

.menu-items a:link{
    text-decoration: none;
    color:whitesmoke;
}


.menu-items a:visited{
    text-decoration: none;
    color: whitesmoke;
}

.menu-items a:hover{
    text-decoration: none;
    color: rgb(196, 118, 17);
}

.menu-items a:active{
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 700px) {
    #avo {
        display: none;
    }

    .menu-items {
        margin-right: 0;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background-color: #2C5530;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEF9EF;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nps {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-right: 4rem;
}

#visit {
    padding: 1.5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .card .col-2 {
    display: none;
    }
    
    .card .col-7 {
    flex: 1; 
    }
}


.button-1 {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-1:hover {
    background-color: #D38D5D;
    color: #FEF9EF;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h5 {
    display: flex;
    align-self:center ;
}
/*regions */

.region {
    background-color: #FEF9EF;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color:#739E82;
    color: white;
}

h4 {
    display: flex;
    justify-content: center;
}

.list {
    flex-direction: row-reverse;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#regionpics {
    list-style: none; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

#regionpics li {
    flex: 1; 
    margin-right: 1rem;
}


#regionpics img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}

/* reviews page */

.cards {
    background-color: #FEF9EF;
    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
